.part-currency {
    width: 100%;
    height: 880px;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

.currency-up {
    padding-top: 165px;
    width: 100%;
    height: 880px;
    padding-left: 132px;
    padding-right: 132px;
    background: #1D2C50;
    color: white;
}

.title-groups {
    width: 50%;
}

.first-title {
    font-size: 18px;
    color: #00EFFF;
    font-weight: 600;
    letter-spacing: 3.2px;
    margin-left: 24px;
    transform: scale(1.085,1);
}

.second-title{
    padding-top: 13px;
    width: 75%;
    font-size: 48px;
    font-weight: 400;
    margin-left: 24px;
    transform: scale(1.12,1);
}

.third-title {
    padding-top: 24px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.62;
    letter-spacing: 1.5px;
    line-height: 28px;
}

.apply-btn-currency {
    margin-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    width: 202px;
    height: 48px;
    background:#00B7FF;
    border: 1px solid white !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.apply-btn-currency:hover {
    background-color: darkcyan !important;
}

.apply-btn-currency:active {
    opacity: 0.5 !important;
}

.apply-btn-currency:focus{
    background:#00B7FF;
}

.apply-btn-currency:focus span {
    color: white;
}

.apply-btn-currency:hover span{
    color: white;
}

.apply-btn-currency span{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.3px;
    transform: scale(1, 1.5);
}

.token-pictures {
    width: 50% !important;
    background: green;
    opacity: 0.5;
}

@media (max-width: 1024px) {

    .part-currency {
        height: auto !important;
    }
    .currency-up {
        flex-direction: column;
        padding-left: 72px;
        padding-right: 72px;
        padding-top: 20px;
        height: 678px;
    }

    .first-title {
        margin-left: 0 !important;
        transform: scale(1,1) !important;
    }

    .second-title {
        width: 100%;
        font-size: 45px;
        margin-left: 0 !important;
        transform: scale(1, 1) !important;
    }

    .third-title {
        width: 100% !important;
    }

    .token-pictures {
        height: 80% !important;
        margin-top: 30px;
    }
}

@media(max-width: 823px) {
    .title-groups {
        width: 70% !important;
    }
}

@media (max-width: 812px) {

    .role-content {
        margin-left: 14px;
    }
}

@media (max-width: 768px) {
    .part-currency {
        width: 100% !important;
    }

    .title-groups {
        width: 100% !important;
    }

    .first-title {
        padding-top: 20px !important;
    }

    .second-title {
        width: 70% !important;
        line-height: 45px !important;
        font-size: 41px !important;
    }

    .third-title {
        padding-top: 15px !important;
    }

    .token-pictures {
        height: auto;
    }
}

@media (max-width: 736px) {
    
    .mainTitle-link, .mainTitle-subject {
        margin-left: 63px;
    }
}

@media (max-width: 568px) {

    .currency-up {
        padding-left: 35px;
        padding-right: 35px;
    }

    .second-title {
        width: 100% !important;
    }
}

@media (max-width: 414px) {

    .second-title {
        font-size: 32px !important;
    }
}

@media (max-width: 411px) {

    .second-title {
        font-size: 32px !important;
    }

    .mainTitle {
        padding-top: 235px !important;
    }
}

@media (max-width: 375px) {

    .currency-up {
        height: 880px !important;
    }

    .second-title {
        font-size: 25px !important;
    }

    .navbar-toggler {
        padding: 0 !important;
    }

    .second-title {
        line-height: 30px !important;
    }

    .mainTitle-link, .mainTitle-subject {
        margin-left: 30px !important;
    }
}


