.brand-register {
    width: 100%;
    background: transparent;
    color: white;
}

.brand-register-collapse-effect {
    width: 100%;
    height: 880px;
    margin-bottom: -880px;
    background-color: #1D2C50;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    z-index: 0;
}

.brand-register-container {
    position: relative;
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 10;
}

.brand-register-form {
    width: 49%;
    padding: 100px;
    color: #475669;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 11px 4px rgba(0,0,0,0.2);
}

.brand-register-form Input {
    box-shadow: none !important;
    padding: 13px 16px !important;
    font-size: 14px !important;
}

::placeholder{
    font-size: 13px;
    color: #C0CCDA !important;
    transform: scaleX(45deg);
}

.brand-register-btn, .indivi-register-btn {
    width: 46.8%;
    height: auto;
    background: white !important;
    border-radius: 3px;
    border: 1px solid #C0CCDA;
}

.brand-register-btn:focus, .indivi-register-btn:focus {
    border-color: #00B7FF !important;
    box-shadow: none !important;
}

.check-icon {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
}

.brand-icon, .indivi-icon {
    padding: 20px 0px 45px 0px;
}

.brand-register-title {
    padding-top: 114px;
    width: 40.5%;
}

.brand-register-element {
    padding-top: 24px;
}

.brand-register-element input {
    border-color: #ced4da;
}

.brand-register-element p {
    display: none;
}

.errorEmail input,
.errorPhone input,
.errorWebsite input,
.error input,
.error textarea {
    border-color: tomato;
}

.errorEmail p,
.errorPhone p,
.errorWebsite p,
.error p.invalid {
    color: tomato;
    display: block;
    font-style: italic;
}

.brand-register-element:first-child {
    padding-top: 0;
}

.brand-register-element label {
    font-size: 12px;
    font-weight: 500;
    color: #475669;
    transform: rotateX(32deg);
    letter-spacing: 1.2px;
}

.brand-register-apply {
    width: 100%;
    height: 45px;
    background: #00B7FF !important;
    box-shadow: none !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    transform: rotateX(32deg);
    letter-spacing: 1.4px;
}

.brand-register-apply:hover {
    background: teal !important;
}

.brand-register-apply:active {
    background: #00B7FF !important;
}

.brand-register-title h5 {
    font-size: 22px;
    font-weight: 500;
    color: #00EFFF;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.brand-register-title h3 {
    font-size: 55px;
    font-weight: 400;
    color: white;
    line-height: normal;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.brand-register-title p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    opacity: 0.64;
    line-height: normal;
}

.brand-register-title p.no-icon {
    padding-left: 0;
}

.brand-register-title a {
    font-size: 17px;
    font-weight: 700;
    color: #3057FF;
    text-decoration: none;
    letter-spacing: 1.9px;
    transform: rotateX(32deg);
}

.brand-textarea {
    height: 105px !important;
    box-shadow: none !important;
}

.brand-position-input-country {
    max-width: 53.2%;
}

.brand-position-input-city {
    max-width: 40.4%;
}

.upload-btn {
    width: 174px;
    height: 36px;
    background-color: white !important;
    border: 1px solid #00B7FF !important;
    color: #00B7FF !important;
    box-shadow: none !important;
    font-size: 12px;
    transform: translateX(32deg);
}

.upload-btn:hover {
    background: teal !important;
    color: white !important;
}

.upload-btn:active {
    background: #00B7FF !important;
    box-shadow: none;
}

.ant-upload-select {
    margin-left: 30px;
}

.upload-bottom-label {
    font-size: 13px !important;
    color: #C0CCDA !important;
    letter-spacing: 0.5px !important;
}

.register-form {
    width: 576px;
    border-radius: 12px;
    background-color: white;
}

.upload-list-inline {
    display: flex;
    justify-content: space-between;
}

.ant-upload-list {
    width: 82px !important;
    min-height: 82px !important;
    border: 1px solid #C0CCDA;
}

.ant-upload-list img {
    width: 80px;
}

.ant-upload-select {
    margin-left: 0 !important;
    width: 72% !important;
}

.brand-register-title-list {
    padding-top: 12px;
}

.brand-register-title-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #00B7FF;
    transform: scale(1, 1) !important;
}

.brand-register-title-list img {
    margin-top: 5px;
}

.brand-register-title-name {
    padding-left: 12px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

@media(max-width: 1440px) {

    .brand-register-form {
        padding: 80px;
    }

    .brand-register-container{
        padding-right: 71px;
        padding-left: 81px;
    }

}

@media(max-width: 1024px) {
    .brand-register-container{
        padding-right: 71px;
        padding-left: 81px;
        display: flex;
        flex-direction: column-reverse;
    }

    .brand-register-title {
        width: auto;
        padding-top: 0;
    }

    .brand-register-form {
        max-width: 576px;
        width: auto;
        padding: 80px;
        margin-top: 60px;
    }

    .brand-register-title h3 {
        font-size: 48px;
    }
}

@media (max-width: 958px) {
    
    .menu {
        padding-left: 81px;
        padding-right: 81px;
    }
}

@media(max-width: 568px) {
    .brand-register-container {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media(max-width: 414px) {
    .brand-register-title h3 {
        font-size: 38px;
    }

    .brand-register-title-name {
        font-size: 16px;
    }

    .brand-register-title h5 {
        font-size: 16px;
    }

    .brand-register-form {
        padding: 50px 30px;
    }

    .check-icon {
        width: 100% !important;
    }

    .responsive-country-city {
        display: flex;
        flex-direction: column;
    }

    .responsive-country-city div{
        width: 100%;
    }

    .ant-upload-select {
        width: 63% !important;
    }

    .upload-top-label {
        font-size: 9px !important;
    }
}

@media(max-width: 360px) {
    .brand-register-title h3 {
        font-size: 33px;
    }
}

@media(max-width: 320px) {

    .brand-register-title h3 {
        font-size: 31px;
    }

    .brand-register-title-list {
        padding-top: 0px;
    }

    .brand-icon, .indivi-icon {
        padding: 4px 0px 20px 0px;
    }

    .upload-list-inline {
        display: flex;
        flex-direction: column;
    }

    .ant-upload-select {
        width: 100% !important;
    }
}