.company {
    width: 100%;
    background: transparent;
    color: white;
}

.company-collapse-effect{
    position: absolute;
    width: 1440px;
    height: 600px;
    background-color: #1D2C50;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
    z-index: 0;
}

.join-revolution {
    position: relative;
    width: 1440px;
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 10;
}

.company-title {
    width: 35%;
    color: white;
}

.company-top-title {
    font-size: 22px;
    font-weight: 500;
    color: #00EFFF;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.company-main-title {
    padding-top: 13px;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
    line-height: normal;
}

.company-article {
    padding-top: 27px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans';
    line-height: 28px;
    opacity: 0.64;

}

.company-main-pic img {
    width: 576px;
    height: auto;
    border-radius: 12px;
}

.our-vision {
    position: relative;
    width: 100%;
    text-align: center;
}

.our-vision-body {
    padding-top: 120px;
    width: 54%;
    color: black;
    text-align: center;
}

.our-vision-top-title {
    font-size: 18px;
    font-weight: 700;
    color: #00B7FF;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.our-vision-main-title {
    padding-top: 4px;
    font-size: 40px;
    font-weight: 400;
    color: #1D2C50;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.our-vision-subtitle {
    padding-top: 17px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    opacity: 0.72;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
}

.our-vision-description {
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    opacity: 0.72;
    line-height: 22px;
    color: black;
    font-family: 'Open Sans';
    display: inline-block   ;
    background-image: url("/assets/images/qout-mark.png");
    background-repeat: no-repeat;
    background-position: 62px 25px;
}

.our-vision-speil {
    padding-left: 10%;
    padding-right: 10%;
}

.main-speil {
    font-size: 14px;
    font-family: 500;
    color: #00B7FF;
    line-height: 22px;
    margin-left: 20px;
}

.speil-line {
    width: 25px;
    height: 2px;
    background: #00B7FF;
}

.office {
    padding-top: 83px;
    width: 100%;
}

.office-clip-effect {
    position: absolute;
    width: 1440px;
    height: 1082px;
    background: #3057FF;
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0% 100%);
    z-index: 1;
}

.office-body {
    position: relative;
    padding-left: 132px;
    padding-right: 32px;
    height: 1082px;
    width: 100%;
    z-index: 20;
}

.office-title {
    padding-top: 500px;
    width: 35%;
    color: white;
}

.office-top-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
    color: #00EFFF;
}

.office-main-title {
    padding-top: 5px;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.office-description {
    padding-top: 32px;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.72;
    line-height: 28px;
    transform: rotateX(32deg);
}

.office-pic {
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.office-left-pic {
    padding-bottom: 95px;
}

.office-right-pic {
    padding-top: 95px;
    margin-left: 24px;
}

.office-pic-item {
    margin-top: 24px;
    border-radius: 12px;
}

.office-pic-item:nth-child(1) {
    margin-top: 0
}

.office-pic-item img {
    width: 376px;
    height: auto;
    border-radius: 12px;
}

.team-member {
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
    width: 100%;
}

.team-member-top-title {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #00B7FF;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.team-member-main-title {
    font-size: 41px;
    font-weight: 400;
    color: #1D2C50;
    text-align: center;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.indivi-member {
    margin-top: 86px;
}

.indivi-member-photo {
    width: 100%;
}

.indivi-member-photo img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

.indivi-member-name {
    padding-top: 23px;
    font-size: 26px;
    color: #1D2C50;
    font-weight: 400;
    letter-spacing: 1.5px;
    transform: scaleX(32deg);
}

.indivi-member-job {
    padding-top: 2px;
    font-size: 17px;
    color: #9FA6B5;
    font-weight: 500;
    letter-spacing: 1.5px;
    transform: scaleX(32deg);
}

.indivi-member-contact-info a{
    padding-top: 25px;
    opacity: 0.3;
    cursor: pointer;
}

.indivi-member-contact-info a:hover {
    opacity: 1;
}

.indivi-member-contact-info img{
    margin-right: 14px;
}

.job-details {
    padding-top: 120px;
}

.join-team {
    padding-right: 132px;
    padding-left: 132px;
}

.join-team-top-title {
    font-size: 17px;
    font-weight: 700;
    color: #00B7FF;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.join-team-main-title {
    padding-top: 4px;
    line-height: normal;
    font-size: 38px;
    font-weight: 400;
    color: #1D2C50;
    letter-spacing: 1.5px;
    transform: rotateX(32deg);
}

.join-team-description {
    padding-top: 25px;
    width: 339px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.72;
    color: #000000;
    font-family: 'Open Sans';
}

.join-team-add-description {
    padding-top: 24px;
    width: 339px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.72;
    color: #000000;
    font-family: 'Open Sans';
}

.see-all-job {
    padding-top: 108px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.72;
    letter-spacing: 1.6px;
    transform: rotateX(32deg);
    color: #3057FF;
}

.job-description {
    font-size: 25px;
    font-weight: 500;
    color: #1D2C50;
    transform: rotateX(32deg);
}

.job-time {
    margin-right: 14px;
    font-size: 14px;
    color: #607D8B;;
    font-weight: 400;
    font-family: 'Open Sans';
}

.job_kind {
    margin-right: 14px;
    font-size: 14px;
    color: black;;
    font-weight: 400;
    font-family: 'Open Sans';
}
.job_position {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #607D8B;
}

.job-type-container {
    width: 237px;
}

.job-post-time {
    margin-right: 14px;
    color: #4CAF50;
    font-family: 'Open Sans';
    color: '4CAF50'
}

.task-list {
    width: 100%;
    height: 120px;
}

.job_price {
    font-size: 14px;
    color: #9FA6B5;
    font-family: 'Open Sans';
}

.embaded_angel-group {
    width: 776px;
    margin-right: 132px;
    background-color: transparent;
}

.task-list {
    padding: 23px;
    border-radius: 12px;
    box-shadow: 0px 2px 11px 4px rgba(0,0,0,0.1);
}

.task-list:last-child, .task-list:nth-child(2) {
    margin-top: 24px;
}

.company-page-left-pic-group {
    width: 330px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -500px;
}


@media (max-width: 1440px) {
    .join-revolution {
        width: 100%;
    }
    .company-collapse-effect {
        width: 100%;
    }

    .company-main-pic {
        width: 60%;
    }
    .company-main-pic img {
        width: 100%;
    }

    .office-title {
        padding-top: 500px;
    }

    .office-clip-effect {
        width: 100%;
    }

    .office-pic {
        width: 60%;
    }

    .office-left-pic, .office-right-pic {
        width: 50%;
    }

    .office-right-pic {
        padding-top: 15%;
    }
    
    .office-pic-item img {
        width: 100%;
    }
}

@media(max-width:1280px) {
    .company-main-title {
        font-size: 48px;
    }

    .company-main-pic {
        width: 55%;
    }

    .office-right-pic {
        padding-top: 25%;
    }

    .office-pic {
        margin-top: 4%;
    }

    .join-team {
        padding-right: 30px;
        padding-left: 35px;
    }

    .embaded_angel-group {
        margin-right: 35px;
    }
}

@media(max-width: 1366px) {
    .company-collapse-effect,
    .join-revolution {
        width: 100%;
    }
}

@media (max-width: 1156px) {
    .company-main-title {
        font-size: 40px;
    }

    .office-right-pic {
        padding-top: 39%;
    }
}

@media(max-width: 1024px) {


    .job-details {
        display: flex;
        flex-direction: column;
    }

    .join-team {
        text-align: center;
    }

    .join-team-description {
        width: 100%;
    }

    .join-team-add-description {
        width: 100%;
    }

    .see-all-job {
        padding-top: 50px
    }

    .embaded_angel-group {
        padding-top: 50px;
        margin-right: 0;
        width: 100%;
        padding-left: 70px;
        padding-right: 70px;
    }

    .join-revolution{
        padding-top: 100px;
        padding-right: 71px;
        padding-left: 81px;
    }

    .office {
        padding-top: 10px;
    }

    .office-body {
        display: flex;
        flex-direction: column;
    }

    .office-title {
        width: 70%;
        padding-top: 250px;
        margin: 0 auto;
    }

    .office-pic{
        width: 70%;
        margin: 4% auto 0;
    }

    .office-pic-item {
        width: auto;
    }

    .office-body {
        height: auto;
        padding-left: 35px;
        padding-right: 35px;
    }

    .office-right-pic {
        padding-top: 12%;
    }

    .company-form {
        width: 450px;
        padding: 60px 40px;
    }

    .our-vision-body {
        width: 80%;
    }

    .company-page-left-pic-group {
        width: 200px;
        bottom: -350px;
    }
}

@media(max-width: 890px) {
    .join-revolution {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .company-collapse-effect {
        height: 750px;
    }

    .company-title {
        width: 80%;
        padding-top: 20px;
        margin: 0 auto;
    }

    .company-main-pic {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .company-main-pic img {
        width: 60%;
    }

    .menu {
        padding-left: 81px;
        padding-right: 81px;
    }
}

@media (max-width: 823px) {
    .office-title {
        padding-top: 350px;
        width: 90%;
    }

    .office-pic {
        width: 90%;
    }
}

@media (max-width: 720px) {
    .company-collapse-effect {
        height: 700px;
    }

    .company-title {
        width: 100%;
        padding-top: 60px;
    }

    .company-title {
        padding-top: 27px;
    }
}

@media(max-width) {
    .office-title {
        -webkit-margin-top-collapse: nownw;
    }
}

@media(max-width: 568px) {
    .join-revolution {
        padding-left: auto;
        padding-right: auto;
    }

    .our-vision-body {
        padding-top: 155px;
    }

    .company-main-pic img {
        width: 90%;
    }

    .join-team, 
    .join-team-description,
    .join-team-add-description  {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .company-collapse-effect {
        height: 840px;
    }

    .office-main-title {
        font-size: 26px;
    }

    .office-description {
        font-size: 18px;
    }

    .office-pic {
        display: flex;
        flex-direction: column;
    }

    .office-right-pic {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .office-left-pic, .office-right-pic {
        width: 100%;
    }
}

@media(max-width: 475px) {
    .embaded_angel-group {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 423px) {
    .company-form {
        width: 84%;
    }

    .join-revolution {
        padding-left: 35px;
        padding-right: 35px;
    }

    .team-member {
        margin-top: 40px;
        width: 100%;
        padding: 0;
    }

    .our-vision-body {
        padding-top: 180px;
    }

    .company-title {
        font-size: 32px;
    }

    .join-team, 
    .join-team-description,
    .join-team-add-description  {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 320px) {

    .company-collapse-effect {
        height: 850px;
    }

    .company-form {
        width: 96%;
        padding: 60px 20px;
    }

    .our-vision-body {
        padding-top: 209px;
    }
}