.menu {
    background: #1D2C50 !important;
    width: 100%;
    height: 120px;
    padding-left: 132px;
    padding-right: 132px;
}

.logo-title span{
    font-size: 18px !important;
    font-weight: bold;
    color: white !important;
    transform: scale(1.2, 1);
    margin-right: 0;
}

.apply-btn {
    width: 120px;
    height: 40px;
    border: none !important;
    outline: none !important;
    background-color: white !important;
}

.apply-btn span {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.3px;
    transform: scale(1, 1.5);
}
.apply-btn:hover {
    opacity: 0.7;
}

.apply-btn:active {
    opacity: 1;
}

.menu-items {
    width: 100%;
    justify-content: center;
}

.detail-item {
    color: white !important;
    opacity: 0.72;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: scale(1.1, 1);   
    letter-spacing: 1.2px;
}

.nav-item {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.navbar-toggler {
    outline: none !important;
    border: 1px solid black !important;
}

.nav-item a:hover {
    opacity: 1;
    font-weight: 800;
}

.nav-item:first-child {
    padding-left: 0 !important;
}

.nav-item:last-child {
    padding-right: 0 !important;
}

@media (max-width: 1024px) {
    .menu {
        padding-left: 81px;
        padding-right: 71px;
    }

    .nav-item, .nav-item:first-child {
        padding-right: 10px !important;
    }
}

@media(max-width: 823px) {
    .menu a div span {
        display: none;
    }
    .mainTitle-link, .mainTitle-subject {
        width: 80% !important;
        margin-left: 52px !important;
    }
}

@media (max-width: 812px) {

    .menu {
        height: auto;
    }

    .detail-item {
        padding-left: 9px !important;
    }

    .nav-item {
        margin-left: 0 !important;
    }

    .nav-item, .nav-item:first-child {
        padding-right: 3px !important;
    }
    .nav-item {
        padding-right: 21px;
        padding-left: 5px;
    }

    .second-title {
        font-size: 27px !important;
    }
}

@media (max-width: 768px) {
    .menu {
        padding-left: 40px;
        padding-right: 30px;
        height: 120px !important;
    }

    .navbar-toggler {
        background-color: white !important;
    }

    .nav-item, .nav-item:first-child {
        padding-left: 0px !important;
        padding-right: 10px !important;
        margin-left: 10px !important;
    }
}

@media (width: 736px) {
    .nav-item a{
        padding-left: 14px !important;
    }

    .navbar-toggler {
        position: absolute !important;
        right: 30px !important;
        top: 40px !important;
    }

    .apply-btn {
        position: absolute !important;
        right: 25% !important;
        top: 40px !important;
    }
}

@media (max-width:667px) {
    .menu {
        height: auto !important;
    }
    .navbar-toggler {
        position: absolute !important;
        right: 30px !important;
        top: 20px !important;
    }

    .apply-btn {
        position: absolute !important;
        width: 100px !important;
        right: 25% !important;
        top: 20px !important;
    }
}

@media (max-width: 640px) {
    .menu {
        height: auto !important;
    }
    .nav-item, .nav-item:first-child {
        padding-left: 0 !important;
    }
}

@media (max-width: 414px) {

    .second-title {
        font-size: 26px !important;
    }
}

@media (max-width: 375px) {
    .apply-btn {
        width: 69px;
        height: 32px;
        padding-top: 2px;
        margin-left: -5px;
        outline: none;
        position: absolute;
        right: 70px;
        top: 8px;
    }

}