.part-currency {
    width: 100%;
    /* height: 880px; */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.currency-up {
    padding: 114px 132px 200px 132px;
    width: 100%;
    /* height: 880px; */
    background: #1D2C50;
    color: white;
}

.title-groups {
    width: 50%;
}

.first-title {
    margin-bottom: -13px;
    font-size: 22px;
    color: #00EFFF;
    font-weight: 600;
    letter-spacing: 3.2px;
    transform: rotateX(32deg);
}

.second-title{
    margin-bottom: -10px;
    padding-top: 13px;
    width: 100%;
    font-size: 58px;
    font-weight: 400;
    line-height: normal;
    transform: rotateX(32deg);
}

.third-title {
    padding-top: 24px;
    width: 100%;
    font-size: 18.5px;
    font-weight: 400;
    opacity: 0.62;
    letter-spacing: 1.5px;
    line-height: 28px;
}

.apply-btn-currency {
    margin-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    width: 202px;
    height: 48px;
    background:#00B7FF;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.apply-btn-currency:hover {
    background-color: darkcyan !important;
}

.apply-btn-currency:active {
    opacity: 0.5 !important;
}

.apply-btn-currency:focus{
    background:#00B7FF;
}

.apply-btn-currency:focus span {
    color: white;
}

.apply-btn-currency:hover span{
    color: white;
}

.apply-btn-currency span{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.3px;
    /* transform: scale(1, 1.5); */
}

.token-pictures {
    width: 50% !important;
    background: green;
    opacity: 0.5;
}

.none-company-link-decoration {
    text-decoration-line: none !important;
}

@media (max-width: 1280px) {
    .second-title {
        font-size: 55px;
    }
}
 
@media (max-width: 1024px) {

    .currency-up {
        flex-direction: column;
        padding: 20px 72px 100px 72px;
    }

    .second-title {
        width: 100%;
        font-size: 45px;
        transform: scale(1, 1) !important;
    }

    .third-title {
        width: 100% !important;
    }

    .token-pictures {
        height: 80% !important;
        margin-top: 30px;
    }
}

@media(max-width: 823px) {
    .title-groups {
        width: 70% !important;
    }
}

@media (max-width: 812px) {

    .role-content {
        margin-left: 14px;
    }
}

@media (max-width: 768px) {
    .part-currency {
        width: 100% !important;
    }

    .title-groups {
        width: 100% !important;
    }

    .first-title {
        padding-top: 20px !important;
    }

    .second-title {
        width: 70% !important;
        line-height: 45px !important;
        font-size: 41px !important;
    }

    .third-title {
        padding-top: 15px !important;
    }

    .token-pictures {
        height: auto;
    }
}

@media (max-width: 568px) {

    .currency-up {
        padding-left: 35px;
        padding-right: 35px;
    }

    .second-title {
        width: 100% !important;
    }
}

@media (max-width: 414px) {

    .currency-up {
        padding-bottom: 150px;
    }

    .second-title {
        font-size: 32px !important;
    }
}

@media (max-width: 375px) {

    .second-title {
        font-size: 25px !important;
    }

    .navbar-toggler {
        padding: 0 !important;
    }

    .second-title {
        line-height: 30px !important;
    }
}


