.App {
    width: 1440px;
    height: auto;
    margin: auto;
    background: #F9FAFC;
}

.menu {
    background: #1D2C50 !important;
    width: 100%;
    height: 120px;
    padding-left: 132px;
    padding-right: 132px;
}

.logo-title{
    text-decoration: none !important;
}

#nav-ico {
    color: yellow;
    font-weight: 700;
    font-size: 16px;
}

.logo-title span{
    font-size: 18px !important;
    font-weight: bold;
    color: white !important;
    transform: scale(1.2, 1);
    margin-right: 0;
    text-decoration: none !important;
}

.apply-btn {
    width: 120px;
    height: 40px;
    border: none !important;
    outline: none !important;
    background-color: white !important;
}

.apply-btn span {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.3px;
    transform: scale(1, 1.5);
}
.apply-btn:hover {
    opacity: 0.7;
}

.apply-btn:active {
    opacity: 1;
}

.menu-items {
    width: 100%;
    justify-content: center;
}

.detail-item {
    color: white !important;
    opacity: 0.72;
    font-size: 14px;
    font-weight: 500;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: scale(1.1, 1);   
    letter-spacing: 1.2px;
}

.detail-item {
    padding-right: 12px !important;
    padding-left: 24px !important;
    text-decoration: none !important;
}

.navbar-toggler {
    outline: none !important;
    border: 1px solid black !important;
}

.detail-item a:hover {
    opacity: 1;
    font-weight: 800;
}

.detail-item:first-child {
    padding-left: 0 !important;
}

.detail-item:last-child {
    padding-right: 0 !important;
}

@media (max-width: 1024px) {
    .menu {
        padding-left: 81px;
        padding-right: 71px;
    }

    .detail-item {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
}

@media(max-width: 823px) {
    .menu a div span {
        display: none;
    }
}

@media (max-width: 812px) {

    .menu {
        height: 120px;
    }

    .nav-icon:first-child {
        margin-left: 35px !important;
    }

    .detail-item {
        margin-top: 20px !important;
    }

    .second-title {
        font-size: 27px !important;
    }
}

@media (max-width: 768px) {
    .menu {
        padding-left: 40px;
        padding-right: 30px;
        height: 120px !important;
    }

    .menu-items {
        margin-top: 20px !important;
    }

    #nav-ico {
        margin-left: 35px !important;
    }

    .navbar-toggler {
        background-color: white !important;
    }
}

@media (max-width: 736px) {

    .menu {
        height: auto !important;
        padding-left: 72px !important;
    }

    .detail-item {
        padding-left: 24px !important;
    }
    /* 
    .detail-item a{
        padding-left: 26px !important;
    } */

    .navbar-toggler {
        position: absolute !important;
        right: 72px !important;
        top: 15px !important;
    }

    .apply-btn {
        position: absolute !important;
        right: 25% !important;
        top: 15px !important;
    }
}

@media (max-width:667px) {
    .menu {
        height: auto !important;
    }

    #nav-ico {
        margin-left: 23px !important;
    }

    .navbar-toggler {
        position: absolute !important;
        right: 30px !important;
        top: 20px !important;
    }

    .apply-btn {
        position: absolute !important;
        width: 100px !important;
        right: 25% !important;
        top: 20px !important;
    }
}

@media (max-width: 640px) {
    .menu {
        height: auto !important;
    }
}

@media (max-width: 414px) {

    .menu {
        padding-left: 35px !important;
    }

    .second-title {
        font-size: 26px !important;
    }
}

@media (max-width: 375px) {
    .apply-btn {
        width: 69px;
        height: 32px;
        padding-top: 2px;
        margin-left: -5px;
        outline: none;
        position: absolute;
        right: 70px;
        top: 8px;
    }

}

@media (max-width: 1440px) {
    .App {
        width: 100%;
        margin: auto;
    }
}