.partUsers {
    width: 100%;
    height: 911px;
    background-color: #3057FF;
    clip-path: polygon(0 16.67%, 100% 0, 100% 83.33%, 0% 100%);
}

.PU-top-title {
    line-height: normal;
    text-align: center;
    transform: scale(1.1,1);
}

.PU-top-title:nth-child(1) {
    padding-top: 200px;
    font-size: 14px;
    font-weight: 700;
    color:#00EFFF;
    letter-spacing: 1.5px;
    transform: scale(1.1,1);
}

.PU-top-title:nth-child(2) {
    padding-top: 5px;
    font-size: 36px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.5px;
    transform: scale(1.1,1);
}

.PU-top-title:nth-child(3) {
    padding-top: 19px;
    width: 576px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    color: white;
    opacity: 0.72;
    line-height: 28px;
    letter-spacing: 1.3px;
}

.PU-content {
    padding-right: 132px;
    padding-left: 132px;
}

.PU-content-subject {
    padding-top: 48px;
    width: 917px;
}

.PU-content-subject-title {
    line-height: normal;
    text-align: center;
    transform: scale(1.1,1);
}

.PU-content-subject-title .content:nth-child(1) {
    margin-left: auto;
    margin-right: auto;
    width: 46px;
    height: 46px;
}

.PU-content-subject-title .content:nth-child(2) {
    padding-top: 14px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.1px;
}

.PU-content-subject-title .content:nth-child(3) {
    padding-top: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 376px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.3px;
    opacity: 0.72;
} 

.PU-content-subject-items {
    flex-wrap: wrap;
}

.brand-items {
    display: inline-block;
    width: 50%;
}

.brand-items-title {
    padding-top: 36px;
    line-height: normal;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.1px;
}
.brand-items-intro {
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 234px;
    line-height: normal;
    text-align: center;
    font-size: 14px;
    color: white;
    opacity: 0.64;
    font-weight: 400;
    letter-spacing: 1.1px;
    transform: scale(1.1,1);
}

.user-pic-group-left {
    padding-top: 40px;
    display: inline-block;
    width: 239px;
    height: 137px;
}


@media(max-width: 1440px){
    .partUsers {
        height: 1140px;
    }

    .user-pic-group-left {
        padding-top: 70px;
        width: 239px;
        height: 137px;
    }
}

@media(max-width: 1366px) {
    .partUsers {
        height: 950px;
    }
}

@media (max-width: 1256px) {
    .user-pic-group-left {
        padding-top: 20px;
    }

    .brand-items-intro {
        width: 75% !important;
    }
}

@media (max-width: 1024px) {


    .partUsers {
        height: 1100px !important;
    }

    .user-pic-group-left {
        padding-top: 50px;
    }

    .PU-content-subject {
        flex-flow: row !important;
    }

    .partUsers {
        clip-path: polygon(0 16%, 100% 0, 100% 84%, 0% 100%) !important;
    }

    .brand-items {
        display: block;
        width: 100% !important;
    }

    .brand-items-title:first-child {
        padding-top: 20px;
    }

    .brand-items-title {
        padding-top: 10px;
    }

    .PU-content-subject-title .content:nth-child(3) {
        width: 80% !important;
    }
}

@media(max-width:823px) {

    .user-pic-group-left {
        width: 200px;
    }

    .partUsers {
        height: 1000px !important;
    }

    .PU-content {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@media (max-width: 812px) {

    .user-pic-group-left {
        padding-top: 50px;
    }

    .PU-top-title:nth-child(3) {
        width: 70%;
    }

    .partUsers {
        clip-path: polygon(0 12%, 100% 0, 100% 88%, 0% 100%) !important;
        height: 1200px !important;
    }
    .brand-items {
        display: inline-block;
        width: 50% !important;
    }

    .PU-content {
        flex-flow: column;
    }

    .PU-content-subject {
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {

    .partUsers {
        height: 1150px !important;
    }

    .PU-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .PU-content-subject-title .content:nth-child(3) {
        width: 60% !important;
    }

    .PU-top-title:nth-child(2) {
        font-size: 30px !important;
    }
}

@media(max-width: 640px) {

    .partUsers {
        height: 1250px !important;
    }
}

@media (max-width: 568px) {

    .PU-top-title:nth-child(1) {
        padding-top: 160px;
    }
    .partUsers {
        height: 1150px !important;
    }

    .PU-content-subject-title .content:nth-child(3) {
        width: 80% !important;
    }

    .PU-content {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .PU-top-title:nth-child(3) {
        font-size: 15px;
        line-height: 20px;
    }

    .PU-content-subject {
        padding-top: 28px;
    }

    .brand-items-intro {
        width: 90% !important;
    }
}

@media (max-width:414px) {
    .partUsers {
        height: 1320px !important;
    }

    .user-pic-group-left {
        padding-top: 55px;
        width: 140px;
    }
}


@media (max-width:375px) {

    .partUsers {
        height: 1350px !important;
        clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%) !important;
    }


    .brand-items {
        display: block !important;
        width: 100% !important;
    }

    .user-pic-group-left {
        padding-top: 10px;
        width: 140px;
    }
}


@media (max-width: 360px) {
    .partUsers {
        height: 1350px !important;
    }
}

@media(max-width: 320px) {
    .user-pic-group-left {
        padding-top: 10px;
        width: 100px;
    }
}