.privacy-policy-body {
    position: relative;
    padding-left: 9.2%;
    padding-right: 9.2%;
    color: white;
    
    z-index: 10;
}
.privacy-policy-clip-effect-page {
    position: absolute;
    height: auto;
    min-height: 599px;
    width: 100%; 
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
    background: #1D2C50;
}

.privacy-policy-page-title1 {
    padding-top: 74px;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 1.2px;
    transform: rotateX(32deg);
}

.privacy-policy-page-title2 {
    font-size: 17px;
    text-align: center;
    transform: rotateX(32deg);
}

.privacy-policy-contents {
    background-color: white;
    margin-top: 75px;
    padding: 129px 17% 120px;
    color: #1D2C50;
    border-radius: 12px;
    box-shadow: 0 4px 14px 4px rgba(0,0,0,0.14);
}

.privacy-policy-contents h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    transform: rotateX(32deg);
}

.privacy-policy-contents ol {
    padding-left: 0;
    margin-left: 21px;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.privacy-policy-contents li {
    line-height: 30px;
}