.partPublication {
    padding-top: 120px;
    padding-left: 132px;
    padding-right: 132px;
}

.part-publication-title {
    font-size: 19px;
    letter-spacing: 2px;
    transform: rotateX(32deg);
    font-weight: 700;
    color: #00B7FF;
}

.part-publication-blog-title-intro {
    font-size: 36px;
    font-weight: 400;
    color: #1D2C50;
    letter-spacing: 1.5px;
    transform: scale(1.1, 1);
    margin-left: 10px;
}

.more-blog {
    width: 216px !important;
    height: 36px;
    border: 1px solid #00B7FF;
    background: white !important;
    outline: none;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #00B7FF !important;
    letter-spacing: 1.5px;
}

.more-blog:hover {
    background: teal !important;
    color: white !important;
}

.more-blog:active {
    opacity: 0.5;
    background: teal;
}

.partner-more-btn {
    padding-top: 109px;
    text-align: center;
}

.partner-more-btn a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #1D2C50;
    opacity: 0.62;
    letter-spacing: 1.1px;
}

.partner-more-btn a:hover {
    color: steelblue;
    opacity: 1;
}

@media (max-width: 1256px) {
    .partPublication {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

}

@media (max-width: 768px) {
    .partPublication {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
}

@media (max-width: 667px){

    .part-publication-blog-title {
        display: block !important;
    }

    .part-publication-blog-title-intro {
        transform: scale(1, 1) !important;
        margin-left: 0px !important;
    }

    .more-blog {
        margin-top: 20px !important;
    }
}

@media (max-width: 414px){
    .partPublication {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
}