.terms {
    padding-left: 20px;
}

.terms-title {
    opacity: 0.64;
    padding-top: 2px;
    font-size: 12px;
    color: #1D2C50;
    line-height: 18px;
}

.terms-title a {
    text-decoration: none;
}

.terms-title a:hover {
    color: teal;
}

.terms span {
    font-size: 10px;
    color: tomato;
    display: none;
}

.checked span {
    display: none !important;
}
