.companiesGroup {
    width: 100%;
}
.companiesGroup-line-1,
.companiesGroup-line-2,
.companiesGroup-line-3,
.companiesGroup-line-4{
    margin-top: 50px;
}

.companiesGroup-line-1 .row,
.companiesGroup-line-2 .row,
.companiesGroup-line-3 .row,
.companiesGroup-line-4 .row {
    display: flex;
    align-items: center;
}

.company-logo {
    margin-top: 10px;
}

.company-logo img {
    max-width: 130px;
    width: auto;
    max-height: 64px;
    width: auto;
}


@media(max-width: 414px) {
    .company-logo img{
        max-width: 100px;
        width: auto;
        max-height: 50px;
        width: auto;
    }
}