.companiesGroup {
    width: 100%;
}
.companiesGroup-line-1{
    width: 100%;
    padding-top: 56px;
}

.companiesGroup-line-2 {
    width: 100%;
    padding-top: 45px;
}

.companiesGroup-line-3{
    width: 100%;
    padding-top: 56px;
}

.companiesGroup-line-4 {
    width: 100%;
    padding-top: 45px;
}

.company-logo {
    margin-top: 25px !important;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
}

.company-logo img {
    width: 100%;
}

@media (max-width:1200px) {
    .company-logo {
        height: 100px !important;
    }
}

@media (max-width:1024px) {
    .company-logo {
        height: 85px !important;
    }
}

@media (max-width:768px) {
    .company-logo {
        height: 80px !important;
    }
}

@media (max-width:579px) {
    .company-logo {
        height: 60px !important;
    }
}

@media(max-width: 492px) {
    .company-logo {
        height: 30px;
    }
}