
.blog-post-clip-effect {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: 720px;
    z-index: 0;
    background: transparent url('/assets/images/blog-backgroun.jpg') no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}

.menu.blog {
    z-index: 10;
    background: transparent;
}

.blog-post .contents {
    position: relative;
    padding-left: 9.2%;
    padding-right: 9.2%;
    height: auto;
    z-index: 10;
}

.blog-post  .top-title {
    margin-top: 117px;
    font-size: 56px;
    letter-spacing: 2px;
    line-height: normal;
    color: white;
    text-align: center;
    background: transparent;
    transform: rotateX(32deg);
}

.blog-post .contents .auth {
    background-color: white;
    /* margin-top: 370px; */
    margin-top: 186px;
    padding: 100px 17%;
    color: #1D2C50;
    border-radius: 12px;
    box-shadow: 0 4px 14px 4px rgba(0,0,0,0.14);
}

.blog-post .contents .auth .auth-character {
    margin-top: -135px;
    text-align: center;
}

.blog-post .contents .auth .auth-title {
    margin-top: 60px;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    transform: rotateX(32deg);
}

.blog-post .contents .auth .auth-name {
    margin-top: 24px;
    color: #00B7FF;
    font-size: 17px;
    margin-right: 24px;
    transform: rotateX(32deg);
    font-weight: 400;
}

.blog-post .contents .auth .auth-date {
    margin-top: 24px;
    color: #1D2C50;
    opacity: 0.26;
    font-size: 17px;
    transform: rotateX(32deg);
}

.blog-post .contents .auth .auth-article {
    margin-top: 42px;
    font-size: 16px;
    line-height: 28px;
    color: #1D2C50;
    letter-spacing: 1px;
}

.auth-character img{
    width: 71px;
    height: 71px;
    border: 3px solid white;
    border-radius: 50%;
}

.loading-more-articles {
    margin-top: 61px;
    text-align: center;
}

.loading-more-articles button{
    opacity: 0.26;
    font-size: 14px;
    color: #1D2C50;
    font-weight: 600;
    font-family: 'Barlow Semi Condensed' !important;
    letter-spacing: 1.5px;
    background: transparent;
    outline: none;
    border: none;
}

.loading-more-articles button span:first-child {
    margin-right: 15px;
    vertical-align: top;
    margin-top: 4px;
}

.blog-first-paragraph {
    letter-spacing: 1.2px;
}

.paragraph-content {
    margin-top: 48px;
    color: #1D2C50;
}

.paragraph-content h5 {
    margin-bottom: 16px;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.paragraph-content p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

.paragraph-content img {
    width: auto;
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
}

.skills {
    margin-top: 48px;
}

.skill {
    font-size: 14px;
    color: #9FA6B5;
    border-radius: 17px;
    background: #DFE1E6;
    margin-right: 12px;
}

.skills .skill {
    padding: 3px 14px;
    margin-top: 10px;
}

.person-option-group {
    margin-top: 25px;
}

.favorite-icon {
    display: flex;
    margin-right: 12px;
}

.favorite-numbers {
    font-size: 14px;
    color: #9FA6B5;
}

.favorite-icon span svg {
    width: 25px;
    height: 25px;
    color: #9FA6B5;
}

hr {
    margin-top: 36px;
    margin-bottom: 47px;
    height: 2px;
}

@media (max-width: 768px) {
    .blog-post .contents .auth .auth-title {
        font-size: 36px;
    }
}

@media (max-width: 414px) {

    .auth-col-set {
        flex-direction: column;
        text-align: center;
    }

    .blog-post .contents .auth .auth-name {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: -30px;
    }

    .blog-post .contents .auth .auth-article {
        margin-top: 0;
        text-align: center;
    }

    .blog-post .contents .auth {
        padding: 45px 17%;
    }

    .blog-post .contents .auth .auth-character {
        margin-top: -85px;
    }

    .blog-post .contents .auth .auth-title {
        margin-top: 0;
    }

    .person-option-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
